html {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #0063b7;
}

ul {
  padding: 0;
  margin: 0;
}

.skip-links {
  background-color: #0063b7;
}

.icon-label {
  color: #fff;
}

.icon-label:hover {
  color: #bed4f8;
}

.header-nav-a {
  text-decoration: none;
  color: #fff;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

a:hover {
  color: #bed4f8;
  border-bottom: 3px solid #bed4f8;
}

.logo-link:hover {
  border: 0;
}

.logo-link:hover .icon-label {
  color: #bed4f8;
  border-bottom: 3px solid #bed4f8;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.banner-content {
  color: #fff;
}

h1,
h2 {
  color: #0063b7;
}

.width {
  max-width: 18em;
}

.homepage-banner {
  background-image: url("../images/dark-hound.jpg");
  background-size: cover;
  background-position: center;
  height: 15em;
}

.btn-ghost {
  border-color: #0063b7;
  color: #0063b7;
}

.btn-light {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.btn:hover {
  border-color: #0063b7;
  color: #fff;
  background-color: #0063b7;
}

.rescue-cards {
  max-width: 55em;
  margin: auto;
}

.cards {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.link-cards {
  border-bottom: 2px solid #e2e2e2;
}

.first-cards:hover {
  background-color: #e5e5e5;
  border-radius: 10px;
}

.not-white-link {
  color: #000;
}

.footer {
  background-color: #0063b7;
}

.copyright {
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .cards:last-child {
    margin-left: 0;
  }

  .homepage-banner {
    height: 20em;

  }
}

@media only screen and (min-width: 60em) {

  .form {
    padding: 0 1rem 0 0;
    border: #000;
  }

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
