html {
  font-family: "Open Sans", sans-serif;
}

.banner {
  background-color: #5a7fe0;
}

h1 {
  color: #fff;
}

.header-nav-a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

  li {
    display: inline-block;
  }

  .header-nav-li {
    display: inline-block;
  }
