html {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #5a7fe0;
}

ul {
  padding: 0;
  margin: 0;
}

.skip-links {
  display: none;
}

.icon-label {
  color: #fff;
}

.icon-label:hover {
  color: #bfcff7;
}

.header-nav-a {
  text-decoration: none;
  color: #fff;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

a:hover {
  color: #bfcff7;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

h1 {
  color: #5a7fe0;
  padding-top: 1em;
}

.homepage-banner {
  background-image: url("../images/black-lab.jpg");
  background-size: cover;
  background-position: center;
  max-height: 360px;
  min-height: 250px;
}

.btn {
  border-color: #5a7fe0;
  color: #5a7fe0;
}

.btn:hover {
  border-color: #5a7fe0;
  color: #fff;
  background-color: #5a7fe0;
}

.footer {
  background-color: #5a7fe0;
}

.copyright {
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  @media only screen and (min-width: 60em) {

  .form {
    padding: 0 1rem 0 0;
    border: #000;
  }

}
